<div class="container">
  <div class="header">
<app-navbar></app-navbar>
    <img src="../../../assets/hvd_bnr.png" class="background-clip">
    <img src="../../../assets/logo.png" class="logo-content" alt="...">
    <h5>HARVARD UNIVERSITY </h5>
    <h1> SQUASH</h1>
  </div>
  <div class="hr-line">
    <hr />
  </div>
  <div class="season-box">
    <div class="season-record">
      <div class="common-season">
        <h5>MEN’S SEASON RECORD</h5>
        <div class="common-content">
          <p>Ivy League</p>
          <p>7 - 0</p>
          <p>Overall</p>
          <p>17 - 0</p>
          <p>2019-20 Ivy &<br />
            National Champs</p>
        </div>
      </div>

      <div class="common-season">
        <h5>MEN’S SEASON RECORD</h5>
        <div class="common-content">
          <p>Ivy League</p>
          <p>7 - 0</p>
          <p>Overall</p>
          <p>17 - 0</p>
          <p>2019-20 Ivy & <br />
            National Champs</p>
        </div>
      </div>

    </div>
    <button class="btn">Upcoming Matches ></button>
  </div>
  <div class="hr-line2">
    <hr />
  </div>


 <div class="latestnews-box">
    <div class="latestnews-section">
      <div class="latest-content">
        <p>LATEST NEWS</p>
        <h1>A Virtual Look Inside – Men’s Squash</h1>
        <p>
          What a time we live in. The last six months have been a rollercoaster for everyone. We hope all of you are
          safe and healthy.</p>
      </div>
    </div>
    <button class="btn">Read More ></button>
  </div>
  <div class="hr-line3">
    <hr />
  </div>

  <div class="photo-gallery">
    <div class="gallery-content">
      <p>NEVER MISS A SHOT</p>
      <h1>The Photo Gallery </h1>
    </div>
    <button class="btn">See the photos ></button>

  </div>

    <div class="upcoming-event">
    <div class="upcoming-content">
      <p>MAKE A DIFFERENCE</p>
      <div class="progress-bar">
        <div class="progress-bar-inner"></div>
      </div>
      <div class="upcoming-price">
        <span>Raised: </span> <span>$36,645. </span> <span>Goal: </span><span>$81,000.</span>
      </div>
      <p>Current fiscal year ends on June 30th, 2021 </p>
      <button class="btn">Learn more ></button>
    </div>

    <div class="upcoming-content">
      <p>upcoming events</p>
      <h1>January 01</h1>
      <button class="btn">View All Event ></button>
    </div>

  </div>

  <div class="hr-line4">
    <hr />
  </div>

  <div class="look-back">
    <div class="look-content">
      <p>A LOOK BACK AT</p>
      <h1>Harvard Squash</h1>
    </div>
    <button class="btn">Take me there ></button>
  </div>

  <div class="quote">
    <div class="quote-content">
      <p><b>𝑪𝒐𝒍𝒍𝒆𝒈𝒆 𝑺𝒒𝒖𝒂𝒔𝒉 𝑹𝒐𝒚𝒂𝒍𝒕𝒚</b> This past week, two of our alums, Diana Edge Dowling ‘88 and
        Kyla
        Grigg ‘07 were announced a… <a>https://t.co/ThHURZZe7j</a></p>
      <i class="fa-brands fa-twitter"></i>
      <h3>Dec 26@harvardsquash</h3>
    </div>
  </div>



   <div class="footer-section">
    <div class="footer-content">
      <p>Copyright Harvard University Squash © 2022</p>
    </div>
    <div class="footer-content-list">
      <span>GoCrimson.com</span>
      <span>Facebook</span>
      <span>Twitter</span>
      <span>Instagram</span>
    </div>
  </div>
</div>
